.statistics {
  width: 320px;
  padding-top: 40px;
  background: linear-gradient(45deg, blue, white);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.statList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  flex: 0 1 20%;
  padding: 10px;
}

.label,
.percentage {
  display: block;
  text-align: center;
  color: azure;
}

.label {
  font-size: 14px;
}

.percentage {
  font-size: 20px;
}
